<hr class="divider-d">
<footer class="footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <p class="copyright font-alt">업체명: (주)아이에스브라더스(IS BROTHERS)</p>
                <p class="copyright font-alt">주소: 서울 서초구 양재대로11길 36, 서울오토갤러리 다동 B117호</p>
                <p class="copyright font-alt">대표: 이상오</p>
                <p class="copyright font-alt">사업자등록번호: 698-86-02094</p>
                <p class="copyright font-alt">대표전화: 1833-6245</p>
            </div>
            <div class="col-sm-6">
                <hr class="divider-d">
                <p class="copyright font-alt">&copy; 2020<a href="/">HI</a>, All Rights Reserved</p>
            </div>
            <div class="col-sm-6">
                <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>

<!--
JavaScripts
=============================================
-->
<script src="https://uicdn.toast.com/editor/2.0.0/toastui-editor-all.min.js"> </script>
<script src="https://uicdn.toast.com/editor-plugin-color-syntax/latest/toastui-editor-plugin-color-syntax.min.js"></script>
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/lib/wow/dist/wow.js"></script>
<script src="/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
<script src="/lib/isotope/dist/isotope.pkgd.js"></script>
<script src="/lib/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="/lib/flexslider/jquery.flexslider.js"></script>
<script src="/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/lib/smoothscroll.js"></script>
<script src="/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
<script src="/js/app/index.js"></script>
<script src = "/summernote/summernote-lite.js"></script>
<script src = "/summernote/lang/summernote-ko-KR.js"></script>
<script>
    $(document).ready(function() {
	var sendFile = function (file, el) {
	      var form_data = new FormData();
	      form_data.append('file', file);
	      $.ajax({
	        data: form_data,
	        type: "POST",
	        url: '/file',
	        cache: false,
	        contentType: false,
	        enctype: 'multipart/form-data',
	        processData: false,
	        success: function(url) {
	        		$('#summernote').summernote('insertImage', url);
		        $('#imageBoard > ul').append('<li><img src="'+ url +'" width="480" height="auto"/></li>');
	        }
	      });
	    }
    $('#summernote').summernote({
        height: 300,
        minHeight: null,
        maxHeight: null,
        focus: true,
		lang: "ko-KR",
	    placeholder: '내용을 입력하세요.',
        callbacks: {
          onImageUpload: function(files, editor, welEditable) {
            for (var i = files.length - 1; i >= 0; i--) {
              sendFile(files[i], this);
            }
          }
        }
      });



});
</script>
<script>

        function inputNumberAutoComma(obj) {

        // 콤마( , )의 경우도 문자로 인식되기때문에 콤마를 따로 제거한다.
        var deleteComma = obj.value.replace(/\,/g, "");

        // 콤마( , )를 제외하고 문자가 입력되었는지를 확인한다.
        if(isFinite(deleteComma) == false) {
            alert("문자는 입력하실 수 없습니다.");
            obj.value = "";
            return false;
        }

        // 기존에 들어가있던 콤마( , )를 제거한 이 후의 입력값에 다시 콤마( , )를 삽입한다.
        obj.value = inputNumberWithComma(inputNumberRemoveComma(obj.value));
    }

        function inputPriceNumberAutoComma(obj) {
        var regexp = /\B(?=(\d{3})+(?!\d))/g;
        return obj.toString().replace( regexp, ',' );
        }



    // 천단위 이상의 숫자에 콤마( , )를 삽입하는 함수
    function inputNumberWithComma(str) {

        str = String(str);
        return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, "$1,");
    }

    // 콤마( , )가 들어간 값에 콤마를 제거하는 함수
    function inputNumberRemoveComma(str) {

        str = String(str);
        return str.replace(/[^\d]+/g, "");
    }




       var main = {
    init : function () {
       var _this = this;
        $('#btn-save1').on('click', function () {
            _this.save();
        });
        $('#btn-save2').on('click', function () {
            _this.save2();
        });
        $('#car-btn-save').on('click', function () {
            _this.importcarsave();
        });
        $('#usedcar-btn-save').on('click', function () {
            _this.usedcarsave();
        });
        $('#car-btn-update').on('click', function () {
            _this.importcarupdate();
        });
        $('#usedcar-btn-update').on('click', function () {
            _this.usedcarupdate();
        });

        $('#directcar-btn-save').on('click', function () {
            _this.directcarsave();
        });

        $('#directcar-btn-update').on('click', function () {
            _this.directcarupdate();
        });

        $('#showroom-btn-save').on('click', function () {
            _this.showroomsave();
        });

        $('#showroom-btn-update').on('click', function () {
            _this.showroomupdate();
        });

        $('#showroom-btn-copy').on('click', function () {
            _this.showroomcopy();
        });

        },
        save : function () {
            var data = editor.getHtml();
            document.getElementById("test").value = data;
            },

        save2 : function () {
            var data = editor2.getHtml();
            document.getElementById("test2").value = data;
            },


showroomsave : function () {
          var form = $('#insertForm')[0];
                var formData = new FormData(form);
                formData.append("file", $("#file")[0].files[0]);
            $.ajax({
                        type: 'POST',
                        url: '/api/v2/showroom',
                        processData: false,
                        contentType: false,
                        data: formData
                    }).done(function() {
                        alert('게시글이 등록되었습니다.');
                        window.location.href = '/admin/portfolio';
                    }).fail(function (error) {
                        alert(JSON.stringify(error));
                    });
                    },

showroomupdate : function() {
                                  var form = $('#insertForm')[0];
                                  var formData = new FormData(form);
                                  var fileCheck = document.getElementById("file").value;
                                  console.log(fileCheck);
                                  if(!fileCheck) {
                                  } else {
                                  formData.append("file", $("#file")[0].files[0]);
                                  }
                                  var id = $('#id').val();
                              $.ajax({
                                  type: 'POST',
                                  url: '/api/v2/showroom/update/'+id,
                                  processData: false,
                                  contentType: false,
                                  data: formData
                              }).done(function() {
                                  alert('게시글이 수정되었습니다.');
                                  window.location.href = '/admin/portfolio';
                              }).fail(function (error) {
                                  alert(JSON.stringfy(error));
                              });
                       },

showroomcopy : function () {
          var form = $('#insertForm')[0];
          var formData = new FormData(form);
            $.ajax({
                        type: 'POST',
                        url: '/api/v2/showroom/copy',
                        processData: false,
                        contentType: false,
                        data: formData
                    }).done(function() {
                        alert('차량이 복사 후 등록되었습니다.');
                        window.location.href = '/admin/showroom';
                    }).fail(function (error) {
                        alert(JSON.stringify(error));
                    });
                    },

directcarsave : function () {
          var form = $('#insertForm')[0];
                var formData = new FormData(form);
                formData.append("file", $("#file")[0].files[0]);
                formData.append("file2", $("#file2")[0].files[0]);
                formData.append("file3", $("#file3")[0].files[0]);
                formData.append("file4", $("#file4")[0].files[0]);
                formData.append("file5", $("#file5")[0].files[0]);
                formData.append("file6", $("#file6")[0].files[0]);
                formData.append("file7", $("#file7")[0].files[0]);
                formData.append("file8", $("#file8")[0].files[0]);
                formData.append("file9", $("#file9")[0].files[0]);
                formData.append("file10", $("#file10")[0].files[0]);
                formData.append("file11", $("#file11")[0].files[0]);
                formData.append("file12", $("#file12")[0].files[0]);
                formData.append("file13", $("#file13")[0].files[0]);
                formData.append("file14", $("#file14")[0].files[0]);
                formData.append("file15", $("#file15")[0].files[0]);
                formData.append("file16", $("#file16")[0].files[0]);
                formData.append("file17", $("#file17")[0].files[0]);
                formData.append("file18", $("#file18")[0].files[0]);
                formData.append("file19", $("#file19")[0].files[0]);
                formData.append("file20", $("#file20")[0].files[0]);
            $.ajax({
                        type: 'POST',
                        url: '/api/v2/directcar',
                        processData: false,
                        contentType: false,
                        data: formData
                    }).done(function() {
                        alert('사진이 등록되었습니다.');
                        window.location.href = '/admin/gallery';
                    }).fail(function (error) {
                        alert(JSON.stringify(error));
                    });
                    },

directcarupdate : function() {
                                  var form = $('#insertForm')[0];
                                  var formData = new FormData(form);
                                  var fileCheck = document.getElementById("file").value;
                                  console.log(fileCheck);
                                  var fileCheck2 = document.getElementById("file2").value;
                                  var fileCheck3 = document.getElementById("file3").value;
                                  var fileCheck4 = document.getElementById("file4").value;
                                  var fileCheck5 = document.getElementById("file5").value;
                                  var fileCheck6 = document.getElementById("file6").value;
                                  var fileCheck7 = document.getElementById("file7").value;
                                  var fileCheck8 = document.getElementById("file8").value;
                                  var fileCheck9 = document.getElementById("file9").value;
                                  var fileCheck10 = document.getElementById("file10").value;
                                  var fileCheck11 = document.getElementById("file11").value;
                                  var fileCheck12 = document.getElementById("file12").value;
                                  var fileCheck13 = document.getElementById("file13").value;
                                  var fileCheck14 = document.getElementById("file14").value;
                                  var fileCheck15 = document.getElementById("file15").value;
                                  var fileCheck16 = document.getElementById("file16").value;
                                  var fileCheck17 = document.getElementById("file17").value;
                                  var fileCheck18 = document.getElementById("file18").value;
                                  var fileCheck19 = document.getElementById("file19").value;
                                  var fileCheck20 = document.getElementById("file20").value;
                                  if(!fileCheck) {
                                  } else {
                                  formData.append("file", $("#file")[0].files[0]);
                                  }
                                  if(!fileCheck2) {
                                  } else {
                                  formData.append("file", $("#file2")[0].files[0]);
                                  }
                                  if(!fileCheck3) {
                                  } else {
                                  formData.append("file", $("#file3")[0].files[0]);
                                  }
                                  if(!fileCheck4) {
                                  } else {
                                  formData.append("file", $("#file4")[0].files[0]);
                                  }
                                  if(!fileCheck5) {
                                  } else {
                                  formData.append("file", $("#file5")[0].files[0]);
                                  }
                                  if(!fileCheck6) {
                                  } else {
                                  formData.append("file", $("#file6")[0].files[0]);
                                  }
                                  if(!fileCheck7) {
                                  } else {
                                  formData.append("file", $("#file7")[0].files[0]);
                                  }
                                  if(!fileCheck8) {
                                  } else {
                                  formData.append("file", $("#file8")[0].files[0]);
                                  }
                                  if(!fileCheck9) {
                                  } else {
                                  formData.append("file", $("#file9")[0].files[0]);
                                  }
                                  if(!fileCheck10) {
                                  } else {
                                  formData.append("file", $("#file10")[0].files[0]);
                                  }
                                  if(!fileCheck11) {
                                  } else {
                                  formData.append("file", $("#file11")[0].files[0]);
                                  }
                                  if(!fileCheck12) {
                                  } else {
                                  formData.append("file", $("#file12")[0].files[0]);
                                  }
                                  if(!fileCheck13) {
                                  } else {
                                  formData.append("file", $("#file13")[0].files[0]);
                                  }
                                  if(!fileCheck14) {
                                  } else {
                                  formData.append("file", $("#file14")[0].files[0]);
                                  }
                                  if(!fileCheck15) {
                                  } else {
                                  formData.append("file", $("#file15")[0].files[0]);
                                  }
                                  if(!fileCheck16) {
                                  } else {
                                  formData.append("file", $("#file16")[0].files[0]);
                                  }
                                  if(!fileCheck17) {
                                  } else {
                                  formData.append("file", $("#file17")[0].files[0]);
                                  }
                                  if(!fileCheck18) {
                                  } else {
                                  formData.append("file", $("#file18")[0].files[0]);
                                  }
                                  if(!fileCheck19) {
                                  } else {
                                  formData.append("file", $("#file19")[0].files[0]);
                                  }
                                  if(!fileCheck20) {
                                  } else {
                                  formData.append("file", $("#file20")[0].files[0]);
                                  }
                                  var id = $('#id').val();
                              $.ajax({
                                  type: 'POST',
                                  url: '/api/v2/directcar/update/'+id,
                                  processData: false,
                                  contentType: false,
                                  data: formData
                              }).done(function() {
                                  alert('차량이 수정되었습니다.');
                                  window.location.href = '/admin/gallery';
                              }).fail(function (error) {
                                  alert(JSON.stringfy(error));
                              });
                       },


         importcarsave : function () {
          var form = $('#insertForm')[0];
                var formData = new FormData(form);
                formData.append("file", $("#file")[0].files[0]);
                formData.append("file2", $("#file2")[0].files[0]);
                formData.append("file3", $("#file3")[0].files[0]);
                formData.append("file4", $("#file4")[0].files[0]);
                formData.append("file5", $("#file5")[0].files[0]);
                formData.append("file6", $("#file6")[0].files[0]);
                formData.append("file7", $("#file7")[0].files[0]);
                formData.append("file8", $("#file8")[0].files[0]);
                formData.append("file9", $("#file9")[0].files[0]);
                formData.append("file10", $("#file10")[0].files[0]);
                formData.append("file11", $("#file11")[0].files[0]);
                formData.append("file12", $("#file12")[0].files[0]);
                formData.append("file13", $("#file13")[0].files[0]);
                formData.append("file14", $("#file14")[0].files[0]);
                formData.append("file15", $("#file15")[0].files[0]);
                formData.append("file16", $("#file16")[0].files[0]);
                formData.append("file17", $("#file17")[0].files[0]);
                formData.append("file18", $("#file18")[0].files[0]);
                formData.append("file19", $("#file19")[0].files[0]);
                formData.append("file20", $("#file20")[0].files[0]);
            $.ajax({
                        type: 'POST',
                        url: '/api/v2/importcars',
                        processData: false,
                        contentType: false,
                        data: formData
                    }).done(function() {
                        alert('차량이 등록되었습니다.');
                        window.location.href = '/admin/importcar';
                    }).fail(function (error) {
                        alert(JSON.stringify(error));
                    });
                    },

                       importcarupdate : function() {
                                  var form = $('#insertForm')[0];
                                  var formData = new FormData(form);
                                  var fileCheck = document.getElementById("file").value;
                                  console.log(fileCheck);
                                  var fileCheck2 = document.getElementById("file2").value;
                                  var fileCheck3 = document.getElementById("file3").value;
                                  var fileCheck4 = document.getElementById("file4").value;
                                  var fileCheck5 = document.getElementById("file5").value;
                                  var fileCheck6 = document.getElementById("file6").value;
                                  var fileCheck7 = document.getElementById("file7").value;
                                  var fileCheck8 = document.getElementById("file8").value;
                                  var fileCheck9 = document.getElementById("file9").value;
                                  var fileCheck10 = document.getElementById("file10").value;
                                  var fileCheck11 = document.getElementById("file11").value;
                                  var fileCheck12 = document.getElementById("file12").value;
                                  var fileCheck13 = document.getElementById("file13").value;
                                  var fileCheck14 = document.getElementById("file14").value;
                                  var fileCheck15 = document.getElementById("file15").value;
                                  var fileCheck16 = document.getElementById("file16").value;
                                  var fileCheck17 = document.getElementById("file17").value;
                                  var fileCheck18 = document.getElementById("file18").value;
                                  var fileCheck19 = document.getElementById("file19").value;
                                  var fileCheck20 = document.getElementById("file20").value;
                                  if(!fileCheck) {
                                  } else {
                                  formData.append("file", $("#file")[0].files[0]);
                                  }
                                  if(!fileCheck2) {
                                  } else {
                                  formData.append("file", $("#file2")[0].files[0]);
                                  }
                                  if(!fileCheck3) {
                                  } else {
                                  formData.append("file", $("#file3")[0].files[0]);
                                  }
                                  if(!fileCheck4) {
                                  } else {
                                  formData.append("file", $("#file4")[0].files[0]);
                                  }
                                  if(!fileCheck5) {
                                  } else {
                                  formData.append("file", $("#file5")[0].files[0]);
                                  }
                                  if(!fileCheck6) {
                                  } else {
                                  formData.append("file", $("#file6")[0].files[0]);
                                  }
                                  if(!fileCheck7) {
                                  } else {
                                  formData.append("file", $("#file7")[0].files[0]);
                                  }
                                  if(!fileCheck8) {
                                  } else {
                                  formData.append("file", $("#file8")[0].files[0]);
                                  }
                                  if(!fileCheck9) {
                                  } else {
                                  formData.append("file", $("#file9")[0].files[0]);
                                  }
                                  if(!fileCheck10) {
                                  } else {
                                  formData.append("file", $("#file10")[0].files[0]);
                                  }
                                  if(!fileCheck11) {
                                  } else {
                                  formData.append("file", $("#file11")[0].files[0]);
                                  }
                                  if(!fileCheck12) {
                                  } else {
                                  formData.append("file", $("#file12")[0].files[0]);
                                  }
                                  if(!fileCheck13) {
                                  } else {
                                  formData.append("file", $("#file13")[0].files[0]);
                                  }
                                  if(!fileCheck14) {
                                  } else {
                                  formData.append("file", $("#file14")[0].files[0]);
                                  }
                                  if(!fileCheck15) {
                                  } else {
                                  formData.append("file", $("#file15")[0].files[0]);
                                  }
                                  if(!fileCheck16) {
                                  } else {
                                  formData.append("file", $("#file16")[0].files[0]);
                                  }
                                  if(!fileCheck17) {
                                  } else {
                                  formData.append("file", $("#file17")[0].files[0]);
                                  }
                                  if(!fileCheck18) {
                                  } else {
                                  formData.append("file", $("#file18")[0].files[0]);
                                  }
                                  if(!fileCheck19) {
                                  } else {
                                  formData.append("file", $("#file19")[0].files[0]);
                                  }
                                  if(!fileCheck20) {
                                  } else {
                                  formData.append("file", $("#file20")[0].files[0]);
                                  }
                                  var id = $('#id').val();
                              $.ajax({
                                  type: 'POST',
                                  url: '/api/v2/importcar/update/'+id,
                                  processData: false,
                                  contentType: false,
                                  data: formData
                              }).done(function() {
                                  alert('차량이 수정되었습니다.');
                                  window.location.href = '/admin/importcar';
                              }).fail(function (error) {
                                  alert(JSON.stringfy(error));
                              });
                       },


         usedcarsave : function () {
          var form = $('#insertForm')[0];
                var formData = new FormData(form);
                formData.append("file", $("#file")[0].files[0]);
                formData.append("file2", $("#file2")[0].files[0]);
                formData.append("file3", $("#file3")[0].files[0]);
                formData.append("file4", $("#file4")[0].files[0]);
                formData.append("file5", $("#file5")[0].files[0]);
                formData.append("file6", $("#file6")[0].files[0]);
                formData.append("file7", $("#file7")[0].files[0]);
                formData.append("file8", $("#file8")[0].files[0]);
                formData.append("file9", $("#file9")[0].files[0]);
                formData.append("file10", $("#file10")[0].files[0]);
                formData.append("file11", $("#file11")[0].files[0]);
                formData.append("file12", $("#file12")[0].files[0]);
                formData.append("file13", $("#file13")[0].files[0]);
                formData.append("file14", $("#file14")[0].files[0]);
                formData.append("file15", $("#file15")[0].files[0]);
                formData.append("file16", $("#file16")[0].files[0]);
                formData.append("file17", $("#file17")[0].files[0]);
                formData.append("file18", $("#file18")[0].files[0]);
                formData.append("file19", $("#file19")[0].files[0]);
                formData.append("file20", $("#file20")[0].files[0]);
            $.ajax({
                        type: 'POST',
                        url: '/api/v2/usedcars',
                        processData: false,
                        contentType: false,
                        data: formData
                    }).done(function() {
                        alert('차량이 등록되었습니다.');
                        window.location.href = '/admin/usedcar';
                    }).fail(function (error) {
                        alert(JSON.stringify(error));
                    });
                    },

                       usedcarupdate : function() {
                                  var form = $('#insertForm')[0];
                                  var formData = new FormData(form);
                                  var fileCheck = document.getElementById("file").value;
                                  var fileCheck2 = document.getElementById("file2").value;
                                  var fileCheck3 = document.getElementById("file3").value;
                                  var fileCheck4 = document.getElementById("file4").value;
                                  var fileCheck5 = document.getElementById("file5").value;
                                  var fileCheck6 = document.getElementById("file6").value;
                                  var fileCheck7 = document.getElementById("file7").value;
                                  var fileCheck8 = document.getElementById("file8").value;
                                  var fileCheck9 = document.getElementById("file9").value;
                                  var fileCheck10 = document.getElementById("file10").value;
                                  var fileCheck11 = document.getElementById("file11").value;
                                  var fileCheck12 = document.getElementById("file12").value;
                                  var fileCheck13 = document.getElementById("file13").value;
                                  var fileCheck14 = document.getElementById("file14").value;
                                  var fileCheck15 = document.getElementById("file15").value;
                                  var fileCheck16 = document.getElementById("file16").value;
                                  var fileCheck17 = document.getElementById("file17").value;
                                  var fileCheck18 = document.getElementById("file18").value;
                                  var fileCheck19 = document.getElementById("file19").value;
                                  var fileCheck20 = document.getElementById("file20").value;
                                  if(!fileCheck) {
                                  } else {
                                  formData.append("file", $("#file")[0].files[0]);
                                  }
                                  if(!fileCheck2) {
                                  } else {
                                  formData.append("file", $("#file2")[0].files[0]);
                                  }
                                  if(!fileCheck3) {
                                  } else {
                                  formData.append("file", $("#file3")[0].files[0]);
                                  }
                                  if(!fileCheck4) {
                                  } else {
                                  formData.append("file", $("#file4")[0].files[0]);
                                  }
                                  if(!fileCheck5) {
                                  } else {
                                  formData.append("file", $("#file5")[0].files[0]);
                                  }
                                  if(!fileCheck6) {
                                  } else {
                                  formData.append("file", $("#file6")[0].files[0]);
                                  }
                                  if(!fileCheck7) {
                                  } else {
                                  formData.append("file", $("#file7")[0].files[0]);
                                  }
                                  if(!fileCheck8) {
                                  } else {
                                  formData.append("file", $("#file8")[0].files[0]);
                                  }
                                  if(!fileCheck9) {
                                  } else {
                                  formData.append("file", $("#file9")[0].files[0]);
                                  }
                                  if(!fileCheck10) {
                                  } else {
                                  formData.append("file", $("#file10")[0].files[0]);
                                  }
                                  if(!fileCheck11) {
                                  } else {
                                  formData.append("file", $("#file11")[0].files[0]);
                                  }
                                  if(!fileCheck12) {
                                  } else {
                                  formData.append("file", $("#file12")[0].files[0]);
                                  }
                                  if(!fileCheck13) {
                                  } else {
                                  formData.append("file", $("#file13")[0].files[0]);
                                  }
                                  if(!fileCheck14) {
                                  } else {
                                  formData.append("file", $("#file14")[0].files[0]);
                                  }
                                  if(!fileCheck15) {
                                  } else {
                                  formData.append("file", $("#file15")[0].files[0]);
                                  }
                                  if(!fileCheck16) {
                                  } else {
                                  formData.append("file", $("#file16")[0].files[0]);
                                  }
                                  if(!fileCheck17) {
                                  } else {
                                  formData.append("file", $("#file17")[0].files[0]);
                                  }
                                  if(!fileCheck18) {
                                  } else {
                                  formData.append("file", $("#file18")[0].files[0]);
                                  }
                                  if(!fileCheck19) {
                                  } else {
                                  formData.append("file", $("#file19")[0].files[0]);
                                  }
                                  if(!fileCheck20) {
                                  } else {
                                  formData.append("file", $("#file20")[0].files[0]);
                                  }
                                  var id = $('#id').val();
                              $.ajax({
                                  type: 'POST',
                                  url: '/api/v2/usedcar/update/'+id,
                                  processData: false,
                                  contentType: false,
                                  data: formData
                              }).done(function() {
                                  alert('차량이 수정되었습니다.');
                                  window.location.href = '/admin/usedcar';
                              }).fail(function (error) {
                                  alert(JSON.stringfy(error));
                              });
                       }

            };

    main.init();
</script>

<script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
if(!wcs_add) var wcs_add = {};
wcs_add["wa"] = "9efb35c02c59a8";
if(window.wcs) {
wcs_do();
}
</script>
</body>
</html>