<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
    -->
    <title>K-CAMP</title>
    <!--
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--
    Stylesheets
    =============================================

    -->
    <!-- Default stylesheets-->
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="/lib/animate.css/animate.css" rel="stylesheet">
    <link href="/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/sub.css" rel="stylesheet">
    <link id="color-scheme" href="/css/colors/default.css" rel="stylesheet">
    <!-- Editor's Dependecy Style -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" rel="stylesheet"/>
    <!-- Editor's Style -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.min.css"/>
    <link rel="stylesheet" href="/summernote/summernote-lite.css">
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/" style="padding-top: 0px; padding-bottom: 0px;"><img src="/image/kcamplogo2.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="custom-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"><a class="dropdown-toggle" href="/guide">GUIDE</a>

                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" href="/schedule">SCHEDULE</a>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" href="/reservation">RESERVATION</a>

                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" href="/gallery">GALLERY</a>

                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" href="/location">LOCATION</a>

                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" href="/contactus">Q&A</a>

                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" href="/review">REVIEW</a>

                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <span class="icon-profile-male" aria-hidden="true"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {{#uName}} <!-- 머스테치는 if문을 제공하지 않고 트루펄스여부만 판단. 유저네임이 있으면 노출 -->
                                <li>
                                    <a href="#">사용자이름 : {{uName}}</a>
                                </li>
                                <li>
                                    <a href="/logout">로그아웃</a>
                                    <!-- 시큐리티에서 기본으로 제공하는 로그아웃 url, 컨트롤러 만들 필요 없음. -->
                                </li>
                            {{/uName}}
                            {{^uName}}
                                <li>
                                    <a href="/snslogin">로그인</a>
                                </li>
                            {{/uName}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="main">
        <section class="module-small">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-3 sidebar">
                        <div class="widget">
                            <h5 class="widget-title font-alt">관리자 화면</h5>
                            <ul class="icon-list">
                                <li><a href="/admin">관리자 페이지</a></li>
                                <li><a href="/">K-CAMP 홈페이지</a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title font-alt">예약 관리</h5>
                            <ul class="icon-list">
                                <li><a href="/admin/schedule">예약 일정 등록 및 보기</a></li>
                                <li><a href="/admin/schedule/detail">예약 일정 관리</a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title font-alt">게시판 관리</h5>
                            <ul class="icon-list">
                                <li><a href="/admin/posts">예약 목록</a></li>
                                <li><a href="/admin/review">후기 목록</a></li>
                                <li><a href="/admin/notice">공지사항 목록</a></li>
                                <li><a href="/admin/portfolio">포트폴리오 목록</a></li>
                                <li><a href="/admin/portfolio/save">포트폴리오 게시글 작성</a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title font-alt">회원 관리</h5>
                            <ul class="icon-list">
                                <li><a href="/admin/user">회원 목록</a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title font-alt">문의사항 관리</h5>
                            <ul class="icon-list">
                                <li><a href="/admin/contactus">일반 문의사항</a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title font-alt">갤러리 관리</h5>
                            <ul class="icon-list">
                                <li><a href="/admin/gallery/save">갤러리 차량 등록</a></li>
                                <li><a href="/admin/gallery">갤러리 목록</a></li>
                            </ul>
                        </div>
                    </div>