{{>layout/headermain}}

<div class="main">
    <section class="module bg-dark-60 about-page-header" data-background="/image/inst_pn_test3.jpg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">차량소개</h2>
                    <div class="module-subtitle font-serif"> </div>
                </div>
            </div>
        </div>
    </section>
    <section class="module">
        <div class="container">
            <div class="row" style="text-align: center;">
                <div class="col-sm-12"><h2>코치맨 오라이언 20CB</h2></div>
                <div class="col-sm-12"><img src="/image/aboutcar.png" alt="Title of Image" /></div>
                <div class="col-sm-12"><h2>코치맨 오라이언 24TB</h2></div>
                <div class="col-sm-12"><img src="/image/aboutcar2.png" alt="Title of Image" /></div>
                <div class="col-sm-12"><h2>코치맨 오라이언 20XG</h2></div>
                <div class="col-sm-12"><img src="/image/aboutcar3.png" alt="Title of Image" /></div>
            </div>
            <div class="row">
            </div>
        </div>
    </section>

{{>layout/footermain}}