{{>layout/headeradmin}}
<div class="main">
    <section class="module-small">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-3 sidebar">
                    <div class="widget">
                        <h5 class="widget-title font-alt">관리자 화면</h5>
                        <ul class="icon-list">
                            <li><a href="/admin">관리자 페이지</a></li>
                            <li><a href="/">ISAM 홈페이지</a></li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h5 class="widget-title font-alt">상품 관리</h5>
                        <ul class="icon-list">
                            <li><a href="/importcar/save">수입차 등록</a></li>
                            <li><a href="/admin/importcar">수입차 리스트</a></li>
                            <li><a href="/usedcar/save">국산차 등록</a></li>
                            <li><a href="/admin/usedcar">국산차 리스트</a></li>
                            <li><a href="/admin/directcar/save">직수입 등록</a></li>
                            <li><a href="/admin/directcar">직수입 리스트</a></li>
                            <li><a href="/admin/showroom/save">SHOW ROOM 등록</a></li>
                            <li><a href="/admin/showroom">SHOW ROOM 리스트</a></li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h5 class="widget-title font-alt">게시판 관리</h5>
                        <ul class="icon-list">
                            <li><a href="/admin/notice">공지사항 목록</a></li>
                            <li><a href="/admin/news">뉴스 목록</a></li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h5 class="widget-title font-alt">문의사항 관리</h5>
                        <ul class="icon-list">
                            <li><a href="/admin/contactus">일반 문의사항</a></li>
                            <li><a href="/admin/carcontact">차량 문의사항</a></li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h5 class="widget-title font-alt">홈페이지 관리</h5>
                        <ul class="icon-list">
                            <li><a href="/admin/popup">팝업 관리</a></li>
                            <li><a href="/admin/dealer">딜러 관리</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                    <div class="post">
                        <div class="post-header font-alt">
                            <h1 class="post-title">팝업 관리</h1>
                            <div class="post-meta">By&nbsp;<a href="#">관리자</a>
                            </div>
                        </div>
                        <div class="post-entry">
                            <form id="insertForm" action="/api/v2/popup/{{popup.id}}" method="post" enctype="multipart/form-data">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        제목
                                        <input class="form-control" type="text" id="title" name="title" placeholder="제목" value="{{popup.title}}">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        링크경로
                                        <input class="form-control" type="text" id="linkPath" name="linkPath" placeholder="링크경로" value="{{popup.linkPath}}">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <input type="hidden" name="id" id="id" value="{{popup.id}}">
                                    <input type="hidden" name="filePath" id="filePath" value="{{popup.filePath}}">
                                    <div class="form-group">
                                        파일경로
                                        <input class="form-control" type="file" id="file" name="file">
                                    </div>
                                </div>
                            </form>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" id="popup-btn-update">팝업수정</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{{>layout/footeradmin}}