{{>layout/headeradmin}}

                <div class="col-sm-8 col-sm-offset-1">
                    <div class="carpost">
                        <div class="post-header font-alt">
                            <h1 class="post-title">일반문의사항</h1>
                        </div>
                    </div>
                    <div class="post-entr">
                        <table class="table table-striped table-border checkout-table">
                            <tbody>
                            <tr>
                                <th class="hidden-xs">게시글번호</th>
                                <th>이름</th>
                                <th class="hidden-xs">연락처</th>
                                <th>이메일</th>
                                <th></th>
                            </tr>
                            {{#guestbook}}
                                <tr>
                                    <td class="hidden-xs">{{id}}</td>
                                    <td><a href="/admin/contactus/detail/{{id}}">{{guestname}}</a></td>
                                    <td>{{phonenum}}</td>
                                    <td>{{email}}</td>
                                    <td>
                                        <input type="hidden" id="id" value="{{id}}" />
                                        <button type="button" class="btn btn-danger" id="btn-guest-delete">삭제</button>
                                    </td>
                                </tr>
                            {{/guestbook}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

{{>layout/footeradmin}}