{{>layout/headeradmin}}
<div class="main">
    <section class="module-small">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-3 sidebar">
                    <div class="widget">
                        <h5 class="widget-title font-alt">관리자 화면</h5>
                        <ul class="icon-list">
                            <li><a href="/admin">관리자 페이지</a></li>
                            <li><a href="/">ISAM 홈페이지</a></li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h5 class="widget-title font-alt">상품 관리</h5>
                        <ul class="icon-list">
                            <li><a href="/importcar/save">수입차 등록</a></li>
                            <li><a href="/admin/importcar">수입차 리스트</a></li>
                            <li><a href="/usedcar/save">국산차 등록</a></li>
                            <li><a href="/admin/usedcar">국산차 리스트</a></li>
                            <li><a href="/admin/directcar/save">직수입 등록</a></li>
                            <li><a href="/admin/directcar">직수입 리스트</a></li>
                            <li><a href="/admin/showroom/save">SHOW ROOM 등록</a></li>
                            <li><a href="/admin/showroom">SHOW ROOM 리스트</a></li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h5 class="widget-title font-alt">게시판 관리</h5>
                        <ul class="icon-list">
                            <li><a href="/admin/notice">공지사항 목록</a></li>
                            <li><a href="/admin/news">뉴스 목록</a></li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h5 class="widget-title font-alt">문의사항 관리</h5>
                        <ul class="icon-list">
                            <li><a href="/admin/contactus">일반 문의사항</a></li>
                            <li><a href="/admin/carcontact">차량 문의사항</a></li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h5 class="widget-title font-alt">홈페이지 관리</h5>
                        <ul class="icon-list">
                            <li><a href="/admin/popup">팝업 관리</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                    <div class="post">
                        <div class="post-header font-alt">
                            <h1 class="post-title">SHOW ROOM 차량 등록</h1>
                            <div class="post-meta">By&nbsp;<a href="#">관리자</a>
                            </div>
                        </div>
                        <div class="post-entry">
                            <form id="insertForm" action="/directcar/upload" method="post" enctype="multipart/form-data">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        차량제목<input class="form-control" type="text" id="title" name="title" placeholder="제목">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        진행상황
                                        <select id="carsalecheck" name="carsalecheck" class="form-control">
                                            <option value="계약및선적대기">계약및선적대기</option>
                                            <option value="이동중">이동중</option>
                                            <option value="입항 및 통관중">입항 및 통관중</option>
                                            <option value="인증진행중">인증진행중</option>
                                            <option value="상품화완료">상품화완료</option>
                                            <option value="판매중">판매중</option>
                                            <option value="판매완료">판매완료</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        차량대표사진
                                        <input class="form-control" type="file" id="file" name="file">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        차량이미지(1)
                                        <input class="form-control" type="file" id="file2" name="file2">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        차량이미지(2)
                                        <input class="form-control" type="file" id="file3" name="file3">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        차량이미지(3)
                                        <input class="form-control" type="file" id="file4" name="file4">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        차량이미지(4)
                                        <input class="form-control" type="file" id="file5" name="file5">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        차량이미지(5)
                                        <input class="form-control" type="file" id="file6" name="file6">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        차량이미지(6)
                                        <input class="form-control" type="file" id="file7" name="file7">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        차량이미지(7)
                                        <input class="form-control" type="file" id="file8" name="file8">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        차량이미지(8)
                                        <input class="form-control" type="file" id="file9" name="file9">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        차량이미지(9)
                                        <input class="form-control" type="file" id="file10" name="file10">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        차량이미지(10)
                                        <input class="form-control" type="file" id="file11" name="file11">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        차량이미지(11)
                                        <input class="form-control" type="file" id="file12" name="file12">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        차량이미지(12)
                                        <input class="form-control" type="file" id="file13" name="file13">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        차량이미지(13)
                                        <input class="form-control" type="file" id="file14" name="file14">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        차량이미지(14)
                                        <input class="form-control" type="file" id="file15" name="file15">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        차량이미지(15)
                                        <input class="form-control" type="file" id="file16" name="file16">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        차량이미지(16)
                                        <input class="form-control" type="file" id="file17" name="file17">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        차량이미지(17)
                                        <input class="form-control" type="file" id="file18" name="file18">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        차량이미지(18)
                                        <input class="form-control" type="file" id="file19" name="file19">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        차량이미지(19)
                                        <input class="form-control" type="file" id="file20" name="file20">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        간단소개내용(3줄이하)
                                        <textarea class="form-control" id="summernote1"
                                                  name="subcontent" placeholder="내용을 입력하세요." rows="3"></textarea>
                                    </div>
                                </div>
                                <br><br>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        상세내용
                                        <textarea class="form-control" id="summernote"
                                                  name="content" placeholder="content" rows="7"></textarea>
                                    </div>
                                </div>
                            </form>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" id="showroom-btn-save">등록하기</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{{>layout/footeradmin}}