{{>layout/headermain}}
<div class="main">
    <section class="module bg-dark-60 about-page-header" data-background="/image/inst_pn_test3.jpg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">아이에스오토모빌</h2>
                    <div class="module-subtitle font-serif">아이에스오토모빌은 오늘도 여러분께 새로운 차를 제시하며 앞장섭니다.</div>
                </div>
            </div>
        </div>
    </section>

    <section class="module pt-0 pb-0" id="about">
        <div class="row position-relative m-0">
            <div id="maps" class="col-xs-12 col-md-6 side-image" style="width:951px;height:539px;"></div>
            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f38a5ba3555c6475006dc31eb2f5be64"></script>
            <script>
                        var container = document.getElementById('maps'); //지도를 담을 영역의 DOM 레퍼런스
                        var options = { //지도를 생성할 때 필요한 기본 옵션
                        center: new kakao.maps.LatLng(37.461870, 127.035464), //지도의 중심좌표.
                        level: 3 //지도의 레벨(확대, 축소 정도)
                        };

                        var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

                        var markerPosition = new kakao.maps.LatLng(37.461870, 127.035464);

                        var marker = new kakao.maps.Marker({
                            position: markerPosition
                        });

                        marker.setMap(map);

                        var iwContent = '<div style="padding:5px;">아이에스오토모빌 <br><a href="https://map.kakao.com/link/to/아이에스오토모빌,37.461870, 127.035464" style="color:blue" target="_blank">길찾기</a></div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
                        iwPosition = new kakao.maps.LatLng(37.461870, 127.035464); //인포윈도우 표시 위치입니다

                        // 인포윈도우를 생성합니다
                        var infowindow = new kakao.maps.InfoWindow({
                        position : iwPosition,
                        content : iwContent
                        });

                        // 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
                        infowindow.open(map, marker);

            </script>
            <div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="module-title font-alt align-left">오시는길</h2>
                        <div class="module-subtitle font-serif align-left">서울시 서초구 양재대로 11길 36 서울오토갤러리 은관 420호 아이에스오토모빌</div>
                        <p>Tel. 02-2059-5099</p>
                        <p>FAX. 02-2059-5098</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{>layout/footermain}}