{{>layout/headermain}}

<div class="main">
    <section class="module bg-dark-60 about-page-header" data-background="/image/inst_pn_test1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">K-CAMP</h2>
                    <div class="module-subtitle font-serif">K-캠핑에서 준비한 캠핑카 렌트 서비스</div>
                </div>
            </div>
        </div>
    </section>

    <section class="module">
        <div class="container">
            <div class="row" style="text-align: center;">
                <div class="col-sm-12"><img src="/image/reimg1.jpg" alt="Title of Image" style="max-width: 50%;"/></div>
            </div>
            <div class="row">
            </div>
        </div>
    </section>


{{>layout/footermain}}