{{>layout/headerindex}}


<section class="home-section home-fade home-full-height" id="home">
    <div class="hero-slider">
        <ul class="slides">
            <li class="bg-dark-30 bg-dark shop-page-header" style="background-image:url(&quot;/image/maincamp1.jpg&quot;);">
                <div class="titan-caption">
                    <div class="caption-content">
                        <div class="font-alt mb-30 titan-title-size-1">K-CAMP</div>
                        <div class="font-alt mb-30 titan-title-size-4">신개념 캠핑카 렌탈 서비스</div>
                        <div class="font-alt mb-40 titan-title-size-1">"어딘가 자유롭게 떠나고 싶으신가요?"</div>
                    </div>
                </div>
            </li>
            <li class="bg-dark-30 bg-dark shop-page-header" style="background-image:url(&quot;/image/maincamp2.jpg&quot;);">
                <div class="titan-caption">
                    <div class="caption-content">
                        <div class="font-alt mb-30 titan-title-size-1">K-CAMP</div>
                        <div class="font-alt mb-40 titan-title-size-4">Exclusive Camping Cars</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<div class="main">

    {{>layout/footermain}}