{{>layout/headermain}}

<div class="main">
    <section class="module bg-dark-60 about-page-header" data-background="/image/inst_pn_test2.jpg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">RESERVATION</h2>
                    <div class="module-subtitle font-serif"> </div>
                </div>
            </div>
        </div>
    </section>
    <section class="module">
        <div class="container">
            <div class="row" style="text-align: center;">
                <div class="col-sm-12"><img src="/image/campingfee.jpg" alt="Title of Image" style="max-width: 50%;"/></div>
                <div class="col-sm-12"><img src="/image/reimg2.jpg" alt="Title of Image" style="max-width: 50%;"/></div>
                <div class="col-sm-12"><img src="/image/reimg3.jpg" alt="Title of Image" style="max-width: 50%;"/></div>
                <div class="col-sm-12"><img src="/image/reimg4.jpg" alt="Title of Image" style="max-width: 50%;"/></div>
            </div>
            <div class="row">
            </div>
        </div>
    </section>
    <section class="module-medium" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                <div class="col-md-13">
                        <form>
                        <div class="form-group">
                            <label for="title">제목</label>
                            <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
                        </div>
                        <div class="form-group">
                            <label for="author">이름/업체명 </label>
                            <input type="text" class="form-control" id="author" placeholder="작성자를 입력하세요">
                        </div>
                            <div class="form-group">
                                <label for="author">입금자명 </label>
                                <input type="text" class="form-control" id="depositname" placeholder="입금자명을 입력하세요">
                            </div>
                            <div class="form-group">
                                <label for="author">연락처 </label>
                                <input type="text" class="form-control" id="phonenum" placeholder="연락처를 입력하세요.">
                            </div>
                            <div class="form-group">
                                <label for="author">대여시작시간(오른쪽 하단 달력 모양 클릭)</label>
                                <input type="datetime-local" class="form-control" id="startdate">
                            </div>
                            <div class="form-group">
                                <label for="author">대여종료시간(오른쪽 하단 달력 모양 클릭)</label>
                                <input type="datetime-local" class="form-control" id="enddate">
                            </div>
                            <div class="form-group">
                                <label for="author">차량선택</label>
                                <select id="selectcar" name="selectcar" class="form-control">
                                    <option value="코치맨오라이언">코치맨오라이언</option>
                                    <option value="코치맨프리렌더">코치맨프리렌더</option>
                                    <option value="벤츠스프린터">벤츠스프린터(예정)</option>
                                    <option value="스타렉스캠핑카">스타렉스캠핑카</option>
                                    <option value="레이">레이</option>=
                                </select>
                            </div>
                    </form>
                    <label for="content"> 기타 문의사항 </label>
                    <textarea class="form-control" id="summernote"
                              name="content" placeholder="content" rows="7"></textarea>
                    <a href="/reservation" role="button" class="btn btn-g btn-round">취소</a>
                    <button type="button" class="btn btn-primary" id="btn-save">등록</button>
                </div>
            </div>
            </div>
        </div>
    </section>

{{>layout/footerboard}}