{{>layout/headermain}}

<div class="main">
    <section class="module bg-dark-60 about-page-header" data-background="/image/inst_pn_test1.jpg">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </section>
    <section class="module" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">문의사항</h2>
                    <div class="module-subtitle font-serif"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <form id="contactForm" role="form" method="post" action="php/contact.php">
                        <div class="form-group">
                            <label class="sr-only" for="name">Name</label>
                            <input class="form-control" type="text" id="guestname" name="guestname" placeholder="성함*" required="required" data-validation-required-message="성함"/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="phone">Phone</label>
                            <input class="form-control" type="text" id="phonenum" name="phonenum" placeholder="연락처*" required="required" data-validation-required-message="연락처"/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" placeholder="이메일 주소*" required="required" data-validation-required-message="이메일 주소"/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="7" id="content" name="content" placeholder="문의 내용" required="required" data-validation-required-message="문의 내용"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-block btn-round btn-d" id="btn-guest-submit" type="submit">문의하기</button>
                        </div>
                    </form>
                    <div class="ajax-response font-alt" id="contactFormResponse"></div>
                </div>
            </div>
        </div>
    </section>

{{>layout/footermain}}