<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
    -->
    <title>K-CAMP</title>
    <!--
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--
    Stylesheets
    =============================================

    -->
    <!-- Default stylesheets-->
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="/lib/animate.css/animate.css" rel="stylesheet">
    <link href="/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/sub.css" rel="stylesheet">
    <link id="color-scheme" href="/css/colors/default.css" rel="stylesheet">
    <!-- Editor's Dependecy Style -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css"
    />
    <!-- Editor's Style -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.min.css"/>
    <link rel="stylesheet" href="/summernote/summernote-lite.css">
    <link href='/fullcalendar/packages/core/main.css' rel='stylesheet' />
    <link href='/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />
    <link href='/fullcalendarpackages/timegrid/main.css' rel='stylesheet' />
    <link href='/fullcalendar/packages/list/main.css' rel='stylesheet' />
    <style>

  .add-button {
    position: absolute;
    top: 1px;
    right: 230px;
    background: #2C3E50;
    border: 0;
    color: white;
    height: 35px;
    border-radius: 3px;
    width: 157px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }


</style>

    <script src='/fullcalendar/packages/core/main.js'></script>
    <script src='/fullcalendar/packages/interaction/main.js'></script>
    <script src='/fullcalendar/packages/daygrid/main.js'></script>
    <script src='/fullcalendar/packages/timegrid/main.js'></script>
    <script src='/fullcalendar/packages/list/main.js'></script>

    <script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
      },
      locale : "ko",
      navLinks: true, // can click day/week names to navigate views
      businessHours: true, // display business hours
      editable: true,
      events: [
        {
          title: 'Business Lunch',
          start: '2019-08-03T13:00:00',
          constraint: 'businessHours'
        },
        {
          title: 'Meeting',
          start: '2019-08-13T11:00:00',
          constraint: 'availableForMeeting', // defined below
          color: '#257e4a'
        },
        {{#schedulelist}}
        {
          title: '{{title}}',
          start: '{{start}}',
          end: '{{end}}',
          color: '{{textColor}}'
        },
        {{/schedulelist}}
        {
          title: 'Party',
          start: '2019-08-29T20:00:00'
        },

        // areas where "Meeting" must be dropped
        {
          groupId: 'availableForMeeting',
          start: '2019-08-11T10:00:00',
          end: '2019-08-11T16:00:00',
          rendering: 'background'
        },
        {
          groupId: 'availableForMeeting',
          start: '2019-08-13T10:00:00',
          end: '2019-08-13T16:00:00',
          rendering: 'background'
        },

        // red areas where no events can be dropped
        {
          start: '2019-08-24',
          end: '2019-08-28',
          overlap: false,
          rendering: 'background',
          color: '#ff9f89'
        },
        {
          start: '2019-08-06',
          end: '2019-08-08',
          overlap: false,
          rendering: 'background',
          color: '#ff9f89'
        }
      ]
    });

    calendar.render();
  });

</script>

</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/" style="padding-top: 0px; padding-bottom: 0px;"><img src="/image/kcamplogo2.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="custom-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"><a class="dropdown-toggle" href="/about" data-toggle="dropdown">회사소개</a>
                        <ul class="dropdown-menu">
                            <li><a href="/about">회사소개</a></li>
                            <li><a href="/aboutcar">차량소개</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" href="/notice" data-toggle="dropdown">공지사항</a>
                        <ul class="dropdown-menu">
                            <li><a href="/notice">공지사항</a></li>
                            <li><a href="/portfolio">포트폴리오</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" href="/schedule">예약</a>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" href="/gallery">갤러리</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" href="/contactus">문의사항</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" href="/review">후기</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <span class="icon-profile-male" aria-hidden="true"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {{#uName}} <!-- 머스테치는 if문을 제공하지 않고 트루펄스여부만 판단. 유저네임이 있으면 노출 -->
                                <li>
                                    <a href="#">사용자이름 : {{uName}}</a>
                                </li>
                                <li>
                                    <a href="/logout">로그아웃</a>
                                    <!-- 시큐리티에서 기본으로 제공하는 로그아웃 url, 컨트롤러 만들 필요 없음. -->
                                </li>
                            {{/uName}}
                            {{#dName}} <!-- 머스테치는 if문을 제공하지 않고 트루펄스여부만 판단. 유저네임이 있으면 노출 -->
                                <li>
                                    <a href="#">사용자이름 : {{dName}}</a>
                                </li>
                                <li>
                                    <a href="/logout">로그아웃</a>
                                    <!-- 시큐리티에서 기본으로 제공하는 로그아웃 url, 컨트롤러 만들 필요 없음. -->
                                </li>
                            {{/dName}}
                            {{^uName}}
                                {{^dName}}
                                    <li>
                                        <a href="/personlogin">로그인</a>
                                    </li>
                                {{/dName}}
                            {{/uName}}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<section class="module bg-dark-60 portfolio-page-header" data-background="/image/inst_pn_test2.jpg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">SCHEDULE</h2>
                <div class="module-subtitle font-serif">현재 예약 상황</div>
            </div>
        </div>
    </div>
</section>

<section class="module">
    <div class="container">
        <div class="row">

            <div id="wrapper">
                <div id="calendar">
                </div>
            </div>

            <!-- /.filter panel -->
        </div>
        <!-- /.container -->
    </div>
</section>
<section class="module">
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-sm-12"><img src="/image/campingfee2.png" alt="Title of Image" /></div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div style="text-align: right;">
                    <a href="/posts/save" role="button" class="btn btn-border-d btn-round">예약하기</a>
                </div>
                <br>
                <table class="table table-horizontal table-bordered">
                    <thead class="thead-strong">
                    <tr>
                        <th>제목</th>
                        <th>작성자</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    {{#posts}} <!-- posts라는 List를 순회, for문과 동일하게 생각 -->
                    <tr>
                        <td><a href="/posts/detail/{{id}}">{{title}}</a></td>
                        <td>{{author}}</td>
                    </tr>
                    {{/posts}}
                    </tbody>
                </table>
                <button type="button" class="btn btn-border-d btn-circle" onclick="location.href='?page={{previous}}'" >이전 페이지</button>
                <button type="button" class="btn btn-border-d btn-circle" onclick="location.href='?page={{next}}'" >다음 페이지</button>
            </div>
        </div>
    </div>
</section>



<hr class="divider-d">
<footer class="footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <p class="copyright font-alt">업체명: (주)아이에스브라더스(IS BROTHERS)</p>
                <p class="copyright font-alt">주소: 서울 서초구 양재대로11길 36, 서울오토갤러리 다동 B117호</p>
                <p class="copyright font-alt">대표: 이상오</p>
                <p class="copyright font-alt">사업자등록번호: 698-86-02094</p>
                <p class="copyright font-alt">대표전화: 1833-6245</p>
            </div>
            <div class="col-sm-6">
                <hr class="divider-d">
                <p class="copyright font-alt">&copy; 2020<a href="index.html">HI</a>, All Rights Reserved</p>
            </div>
            <div class="col-sm-6">
                <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>

<!--
JavaScripts
=============================================
-->
<script type="text/javascript" src="https://uicdn.toast.com/editor/2.0.0/toastui-editor-all.min.js"> </script>
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/lib/wow/dist/wow.js"></script>
<script src="/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
<script src="/lib/isotope/dist/isotope.pkgd.js"></script>
<script src="/lib/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="/lib/flexslider/jquery.flexslider.js"></script>
<script src="/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/lib/smoothscroll.js"></script>
<script src="/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
<script src="/js/app/index.js"></script>
<script src="/js/app/schedule.js"></script>
</body>
</html>