{{>layout/headermain}}


<div class="main">
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1 class="module-title font-alt">SHOW ROOM</h1>
                </div>
            </div>
            <hr class="divider-w pt-20">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-striped table-border checkout-table">
                        <tbody>
                        <tr>
                            <th class="hidden-xs">차량사진</th>
                            <th>차량정보</th>
                        </tr>
                        {{#galleryList}}
                            <tr>
                                <td class="hidden-xs"><a href="/showroom/detail/{{id}}"><img src="{{imgFullPath}}" alt="차량이미지"/></a></td>
                                <td>
                                    <a href="/showroom/detail/{{id}}">
                                        <b><h5 class="product-title font-alt">{{title}}</h5></b>
                                        <h7>{{subcontent}}</h7>
                                        <h5 class="product-title font-alt">{{carsalecheck}}</h5>
                                    </a>
                                </td>
                            </tr>
                        {{/galleryList}}
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-border-d btn-circle" onclick="location.href='?page={{previous}}'" >이전 페이지</button>
                    <button type="button" class="btn btn-border-d btn-circle" onclick="location.href='?page={{next}}'" >다음 페이지</button>
                </div>
            </div>
        </div>
    </section>


{{>layout/footermain}}